@import '../../variables';

.dashboard {
    width: 95%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    height: 100vh;
    animation-name: fadeIn;
    animation-duration:1s;
  
    form {
        display: flex;
        justify-content: space-between;
        width: 95%;
        margin: 0 auto;
        margin-top:1em;
        height: 50px;
        margin-bottom: 2em;

        input {
            padding:1em;
            width: 60%;
            border-color: $thirdColor;
            border-style: solid;
            border-radius: 12px;
            height: 45px;
            background-color: $backgroundsColor
        }

        input::placeholder {
            font-weight: bold;
        }
        button {
            color:$primaryColor;
            font-weight: bold;
            width: 35%;
            height: 45px;
            border-radius: 12px;
            background-color: $secondaryColor;
            font-weight: bold;
        }
    }


    .results {
        display: flex;
        flex-direction: column;
        
        .results__none {
            
            display: flex;
            justify-content: center;
            flex-direction: column;
            align-items: center;
            height: 55vh;
            margin:0 auto;

            h1 {
                font-size:3em;
                text-align: center;
          
            }

        }



        .results__title {
            margin:0.5em;
            width: 50%;
        }
    }
}




@media only screen and (min-width: 478px){
    .card {
        width: 70%;
    }
  }
  

@media only screen and (min-width: 769px){
    .card {
        width: 50%;
    }
}

@media only screen and (min-width: 992px) {

    .card {
        width: 100%;
    }

    .dashboard {
        width: 85%;
    
        form {
            position: relative;
            top:1.5em;
            width: 40%;
        }

        .results {
            width: 95%;
            display: flex;
            flex-wrap: wrap;
            margin:0 auto;
            margin-top:3em;
            justify-content: space-between;
            flex-direction: row;
            h1 {
                width: 70%;
                letter-spacing: 2px;
                margin-bottom:1em;

            }
        }


    }
}