$primaryColor:#f4f4f4;
$secondaryColor: #000;
$thirdColor: #D9D9D9;
$backgroundsColor: #E6E6E6;

@mixin backgroundGradient {
    background: rgb(244,244,244);
    background: linear-gradient(90deg, rgba(244,244,244,1) 0%, rgba(228,227,227,0.3561799719887955) 10%);
}

